
        body{
        background-color:rgb(234,255,230) ;
    }
    .navbar{
        background-color:rgb(234,255,230) ;
        position: fixed; 
        top: 0;
        width: 100%;
        font-weight: bold;
      }
      .social{
          float: right;
          display: inline;
        padding: 0px 10px 0px 10px;
      }
      a{
          text-decoration: none;
      }
    

    nav {
        text-align: left;
        font-family: cursive;           
    }

    
.colourNavlink{
        color: rgb(128,85,0);
        font-size: 30px;
        font-weight:bold;
        display: inline;
        padding: 0px 50px 0px 10px;
}
header {
       
    text-align: center;
    height: 300px;
    padding: 0;
    margin: 0;
    
}
#headingPic{
    float: left;
    padding: 0;
    margin: 0;
}


#title {
    color: rgb(255,171,150);
    font-family: cursive;
    font-size: 100px;
    line-height: 1;
    text-shadow: 5px 5px maroon;
}

    article {
        color: rgb(51,31,0);
        max-width: 500px;
        padding: 20px;
        margin: 0 auto;
        font-family: cursive;
    }
    main{
        /*background: url(myCupcakes.png);*/
        background-color: white;
    }

#aboutMeSection{
        background:url(myCupcakes.png);
        background-position: bottom;
    background-position-x: center;
    background-position-y: bottom; 
        }

    #aboutMe{
        background-color:rgba(234,255,230,0.8); 
        color: rgb(153,102,0);
        font-size: 20px;    
    }

    #cakesnmoreSection{
        color: rgb(51,31,0);
        font-size: 20px;
        background: url(cookies2.png);
        height: 630px;        
    }

    #cakesnmore{
        background-color: rgba(255,230,230, 0.8);
    }
    #recipeSection{
        background: url(recipe.png);
    }
    #recipes{
        background-color: rgba(255,255,128,0.85);
        font-size: 30px;
        text-align: center;
        width: 500px; 
        height:400px; 
    }
    #contactSection{
        background-color:rgb(234,255,230) ;
    }
    #contact{
        background-color:rgb(234,255,230) ;
    }
    #copyright{
        text-align: center;
    }
   
    
    @media (max-width: 500px) {
        h1 {
            font-size: 36px
        }

        li {
            display: block;
            padding: 5px;
        }